In [168]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [169]:
Rtl_data=pd.read_csv('Retail.csv',encoding='unicode_escape')
# Rtl_data.head()
country_cast_data=Rtl_data[['Country','CustomerID']].drop_duplicates()
country_cast_data.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID',ascending=False)
Rtl_data=Rtl_data.query("Country=='United Kingdom'").reset_index(drop=True)
Rtl_data.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

In [170]:
Rtl_data= Rtl_data[pd.notnull(Rtl_data['CustomerID'])]
Rtl_data.Quantity.min()

-80995

In [171]:
Rtl_data.UnitPrice.min()

0.0

In [172]:
Rtl_data=Rtl_data[(Rtl_data['Quantity']>0)]
Rtl_data['InvoiceDate']=pd.to_datetime(Rtl_data['InvoiceDate'])
Rtl_data['TotalAmount']=Rtl_data['Quantity']*Rtl_data['UnitPrice']
Rtl_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [173]:
import datetime as dt
Latest_Date= dt.datetime(2011,12,10)
RFMScores = Rtl_data.groupby('CustomerID').agg({'InvoiceDate': lambda x: (Latest_Date - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalAmount': lambda x: x.sum()})
# RFMScores['InvoiceDate'] = RFMScores['InvoiceDate'].astype(int)
RFMScores['InvoiceDate']=pd.to_numeric(RFMScores['InvoiceDate'])

RFMScores.rename(columns={'InvoiceDate': 'Recency', 'InvoiceNo': 'Frequency', 'TotalAmount': 'Monetary'}, inplace=True)
RFMScores.reset_index().head()

   CustomerID  Recency  Frequency  Monetary
0     12346.0      325          1  77183.60
1     12747.0        2        103   4196.01
2     12748.0        0       4596  33719.73
3     12749.0        3        199   4090.88
4     12820.0        3         59    942.34

In [174]:
quantiles = RFMScores.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()
quantiles

{'Frequency': {0.25: 17.0, 0.5: 41.0, 0.75: 99.0},
 'Monetary': {0.25: 300.03999999999996,
  0.5: 651.82000000000016,
  0.75: 1575.8900000000003},
 'Recency': {0.25: 17.0, 0.5: 50.0, 0.75: 142.0}}

In [175]:
def RScoring(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FnMScoring(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1
RFMScores['R'] = RFMScores['Recency'].apply(RScoring, args=('Recency',quantiles,))
RFMScores['F'] = RFMScores['Frequency'].apply(FnMScoring, args=('Frequency',quantiles,))
RFMScores['M'] = RFMScores['Monetary'].apply(FnMScoring, args=('Monetary',quantiles,))
RFMScores.head()

            Recency  Frequency  Monetary  R  F  M
CustomerID
12346.0         325          1  77183.60  4  4  1
12747.0           2        103   4196.01  1  1  1
12748.0           0       4596  33719.73  1  1  1
12749.0           3        199   4090.88  1  1  1
12820.0           3         59    942.34  1  2  2

In [176]:
RFMScores['RFMGroup'] = RFMScores.R.map(str) + RFMScores.F.map(str) + RFMScores.M.map(str)
RFMScores['RFMScore'] = RFMScores[['R', 'F', 'M']].sum(axis = 1)
Loyalty_Level = ['Platinum', 'Gold', 'Silver', 'Bronze']
Score_cuts = pd.qcut(RFMScores.RFMScore, q = 4, labels = Loyalty_Level)
RFMScores['RFM_Loyalty_Level'] = Score_cuts.values
RFMScores.reset_index().head()

,CustomerID,Recency,Frequency,Monetary,R,F,M,RFMGroup,RFMScore,RFM_Loyalty_Level
0,12346.0,325,1,77183.60,4,4,1,441,9,Silver
1,12747.0,2,103,4196.01,1,1,1,111,3,Platinum
2,12748.0,0,4596,33719.73,1,1,1,111,3,Platinum
3,12749.0,3,199,4090.88,1,1,1,111,3,Platinum
4,12820.0,3,59,942.34,1,2,2,122,5,Platinum